a {
    color:#4E6FAE;
    font-size: 26px;
    font-weight: 700;
}

nav {
    display: inline-block;
}































img {
    width: 223px;
    height: 58px;
    vertical-align:middle;
}

a {
    color: :4E6FAE;
    font-weight: 700;
    font-size: 26px;
}

nav {
    display:inline_block;
}

li {
   display:inline;
   margin-left:60px;
}









